@charset "utf-8";

.headerWrap{width: 1280px;margin: 0 auto;padding: 20px 20px;background-color: pink;}
.headerWrap h1{width: 165px;height: 35px;float: left;}
.headerWrap .navbar{width: 530px;float: right;}
.headerWrap ul li{float: left; width:calc(100% / 3);}
.headerWrap ul li a{display: block;text-align: center;line-height: 30px;}


.visual{height: 100vh;min-height: 800px;position: relative;}
.visual .txtWrap{width: 1280px;margin: 0 auto;color: white;position: absolute;
                left: 50%;margin-left: -620px;height: 100%;
}
.visual .txtWrap .txt{position: absolute;top: 30%;}
.visual .txtWrap .txt h2{font-size: 80px;margin-bottom: 20px;}
.visual .txtWrap .txt p{font-size: 24px;}

.visual .slideItem{
    height: 100vh;min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bx-wrapper {
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none;
    margin-bottom: 0;
}
.bx-wrapper .bx-pager{
    bottom: 30px;
}


.midtxtWrap{width: 100%;background-color: grey;}
.midtxt{width: 1280px;margin: 0 auto;padding: 20px;background-color: pink;}
.midtxt h3{font-size: 44px;margin-bottom: 20px;}
.midtxt h3::after{
    content: "";display: block;width: 100px;height: 5px;
    background-color: orange;
    margin-top: 20px;
}
.midtxt li{font-size: 18px;line-height: 28px;float: right;}

.container{width: 1280px;margin: 0 auto;padding: 0 20px;}
.container li{float: left;width: calc((1240px - 20px * 2) / 3); margin-right: 20px;}
.container li:last-child{margin-right: 0px;}

.container li:hover img{
    transform: translate(0,-20px); box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.container li img{transition: 0.3s;margin-bottom: 20px;}
.container .cardTxt h4{font-size: 21px;margin-bottom: 20px;}
.container .cardTxt p{font-size: 15px;line-height: 24px;margin-bottom: 200px;}


.sectionWrap{width: 1280px;margin: 0 auto;padding: 0 20px;position: relative;height: 462px;}
.section{width: 1114px;height: 338px;background-color: #ffd44a;}
.section h5{font-size: 28px;margin-bottom: 20px;}
.section p{font-size: 15px;}
.section .txtWrap{position: absolute;left: 60px;top: 100px;}
.section img{position: absolute;right: 0;bottom:0px;}


