@charset "utf-8";

.header{}
.headerTopWrap{background-color: #003399;}
.headerTop{width: 1200px;margin: 0 auto;}
.headerTop .collMenu{float: left;}
.headerTop .collMenu li{
    float: left;width: calc(300px / 3);background-color: #ec008c;
    margin-right: 3px;
}
.headerTop .collMenu li a{
    display: block;text-align: center;color: white;font-size: 14px;
    line-height: 40px;
}
.headerTop .collMenu li:hover a{color: #0e0e0e;background-color: white;}
.headerTop .collMenu li.active a{color: #0e0e0e;background-color: white;}


.headerTop .utilMenu{float: right;}
.headerTop .utilMenu li{float: left;height: 40px;}
.headerTop .utilMenu li a{
    color: white;font-size: 14px;height: 40px;padding: 0 10px;
    display: flex;justify-content: center;align-items: center;
}
.headerTop .utilMenu li:nth-child(2){padding-top: 10px;}
.headerTop .utilMenu li:nth-child(2) a{
    width: 20px;height: 20px;background-color: #fff;color:black;
    padding: 0;float: left;margin-right: 5px;
}
.headerTop .utilMenu li:nth-child(2) a:last-child{margin-right: 0;}

.headerMein{width: 1200px;margin: 0 auto;position: relative;}
.headerMein img{padding: 30px 40px;height: 100px;background-color: pink;float: left;}
.headerMein .meinMenu{float: right;position:absolute;right: 150px;}
.headerMein .meinMenu li{
    float: left;width: calc(700px / 5);background-color:skyblue;
    line-height: 100px;text-align: center;font-size: 18px;
}

.headerMein .navToggle{float: right;}
.headerMein .navToggle li{float: left;}
.headerMein .navToggle li img{
    width: 45px;height: 45px;padding: 0;
    margin-top: 25px; margin-right: 25px;cursor: pointer;
}
.headerMein .navToggle li:nth-child(1) img{margin-right: 0px;}


.section{padding: 70px 0;height: 1300px;
    background-image: url(../images/dot.png),url(../images/meinBGI.jpg);
    background-repeat: repeat,no-repeat;
    background-position: center;
    background-size: auto,cover;
}
.section .sec1st{background-color: skyblue;width: 1200px;margin: 0 auto;}
.section .sec1st .txtWrap{float: left;margin-bottom: 50px;}
.section .sec1st .txtWrap h2.title{margin-bottom: 10px;}
.section .sec1st .txtWrap h2 .bold{color:#ec008c;font-weight: bold;}
.section .sec1st h2{color: white;font-size: 40px;font-weight: initial;}

.section .sec1st ul{float: right;}
.section .sec1st li{float: left;margin-right: 20px;cursor: pointer;}
.section .sec1st li:last-child{margin-right: 0;}
.section .sec1st li h3{color: #fff;font-size: 14px;text-align: center;}
.section .sec1st li img{margin-bottom: 10px;}

.section .sec2st{width: 1200px;margin: 0 auto;}
.section .sec2st>ul>li{float: left;width: 300px;height: 225px;}
.section .sec2st>ul>li:nth-child(2n){background-color: pink;}

.section .sec2st>ul>li:nth-child(1){width: 900px;height: 450px;position: relative;}
.section .sec2st>ul .next,
.section .sec2st>ul .prev{position: absolute;top: 50%;margin-top: -50px;cursor:pointer}
.section .sec2st>ul .next{right: 0;}

.section .sec2st .slide li h2{
    font-size: 50px;font-weight: initial;position: absolute;text-align: center;
    color: #004185;left: 50%;transform: translateX(-50%);top: 70px;
}
.section .sec2st .slide li h2 .bold{font-weight: bold;}
.section .sec2st .slide li a{
    position: absolute;left: 50%;transform: translateX(-50%);
    background-color: #004185;color: #fff;padding: 5px 30px;
    border-radius: 10px;font-size: 10px;bottom: 125px;
}

.bx-wrapper {
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none;
    margin-bottom: 0;
}
.bx-wrapper .bx-pager{
    top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active, 
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #f00;
}

.section .sec2st>ul>li:nth-child(2){height: 450px;position: relative;}
.section .sec2st .txt h3{
    font-size: 30px;color: #fff;line-height: 35px; position: absolute;
    left: 40px;top: 40px;
}
.section .sec2st .txt h3 .color{color: #ec008c;}
.section .sec2st .txt a{
    position: absolute;left: 50%;transform: translateX(-50%);
    background: rgba(0,0,0,0.5);color: #fff;padding: 5px 30px;
    border-radius: 10px;font-size: 10px;bottom: 125px;border: 1px solid #fff;
}

.section .sec2st>ul>li:nth-child(3){padding: 30px;font-size: 24px;
    background-color: #ec008c;color: #fff;
}
.section .sec2st .box3 h4{margin-bottom: 20px;}
.section .sec2st .box3 img{margin-bottom: 10px;}
.section .sec2st .box3 .boxIcon{float: left;width: calc(100% / 3);}

.section .sec2st .box3 h5{display: inline-block;text-align: center;width: 55px;}
.section .sec2st>ul>li:nth-child(3) img{border-radius: 50%;}
.section .sec2st>ul>li:nth-child(3) h5{font-size: 12px;}
.section .sec2st>ul>li:nth-child(4){padding: 30px;font-size: 24px;}
.section .sec2st>ul>li:nth-child(5){padding: 30px;font-size: 24px;}
.section .sec2st>ul>li:nth-child(6){}
.section .sec2st>ul>li:nth-child(7){}
.section .sec2st>ul>li:nth-child(8){width: 900px;}