@charset "utf-8";
/******* css responsive init *******/
html,body{height: 100%;}
.container{width: 1240px;margin: 0 auto;}

h2{font-size: 64px;}
h3{font-size: 56px;}
h4{font-size: 48px;}
h5{font-size: 24px;}
p{font-size: 20px;}

/* header */
#header{position: absolute;width: 100%;z-index: 100;}
#header.fixed{position: fixed;background: #000;}
.navbarWrap{
    display: flex;justify-content: space-between;align-items: center;
    padding: 10px 20px;
}
.navbarWrap h1{position: relative;}
.navbarWrap .test{
    font-size: 20px;width: 125px;height: 40px;
    display: flex;justify-content: center;align-items: center;
    background: #0066b1;
    border-radius: 20px;
    color: white;
}
.navbar{}
.navbar>ul{display: flex;height: 100%;}
.navbar>ul>li{position: relative;height: 100%;}
.navbar>ul>li>a{
    padding: 15px 40px;height: 100%;display: flex;
    font-size: 20px;font-weight: bold;color: white;
}

.navbar>ul>li .submenu{
    position: absolute;top: 57px;visibility: hidden;background: #000;
    padding: 8px;transform:translateY(20px);opacity:0;transition: 0.3s;width: 100%;
}
.submenu li a{display: block;line-height: 40px;text-align: center;color: #fff;}
.navbar>ul>li.on .submenu{transform:translateY(0px);opacity: 1;visibility: visible;}

.toggle{
    width: 30px;height: 30px;border: 1px solid #000;
    display: flex;justify-content: center;align-items: center;display: none;
    position: absolute;right: 8px;z-index: 100;
}
.toggle div{
    width: 25px;height: 3px;background: #fff;border-radius: 2px;
    position: absolute;transition: 0.3s;
}
.toggle .bar1{transform: translateY(-8px);}
.toggle .bar3{transform: translateY(8px);}
.toggle.active .bar1{transform: rotate(45deg);}
.toggle.active .bar2{opacity: 0;}
.toggle.active .bar3{transform: rotate(-45deg);}

.Mmenu{
    width: 100%;height: 100%;background: #000;top: 0;
    position: fixed;left: -100%;transition: 0.3s;
}
.Mmenu.active{left: 0;}


/* visual */
.visual{}
.visual .swiper-slide>img{
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.swiper-slide>.text{position: relative;}
.swiper-slide>.text>img{position: absolute;top: 100px;left: 0;}


/******* css responsive *******/
@media (max-width: 1399px) {

}

@media (max-width: 1199px) {
    .container{width: 100%;}
}

@media (max-width: 991px) {
    .container{width: 100%;}
}

@media (max-width: 767px) {
    .navbar{display: none;}
    .navbarWrap{padding: 10px 8px;}
    .navbarWrap>h1>img{width: 30px;}
    .navbarWrap .test{display: none;}
    .toggle{display: flex;}

    .visual .swiper-slide>img{}
}

@media (max-width: 575px) {

}