html, body {
  height: 100%;
}

body {
  background: #121212 !important;
}

.MenuF {
  font-size: 18px;
  font-weight: bold;
}

.mainF {
  font-size: 45px !important;
  color: #fff !important;
  font-weight: bold !important;
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateY(-40%);
  line-height: 65px !important;
  margin-bottom: 0 !important;
}

.nav-link {
  color: #fff !important;
}

.Menuf:hover .nav-link,
.MenuF.active .nav-link {
  color: #10A7FF !important;
}

.active {
  color: #10A7FF !important;
}

h2 {
  font-size: 45px !important;
  color: #fff !important;
  font-weight: bold !important;
}

h3 {
  font-size: 24px;
  margin-bottom: 0 !important;
}

h4 {
  font-size: 22px !important;
  margin-bottom: 0 !important;
  color: #868382 !important;
  font-weight: bold !important;
}

h5 {
  font-size: 20px !important;
  color: #fff !important;
  font-weight: bold !important;
}

h6 {
  font-size: 14px !important;
  color: #fff !important;
  font-weight: bold !important;
  margin-bottom: 0 !important;
}

.sky {
  color: #10A7FF;
}

.red {
  color: #AD0303;
}

.yellow {
  color: #D18700;
}

.purple {
  color: #CB56FF;
}

.section {
  overflow: hidden;
  height: 100vh;
}

.navbar {
  background: rgba(0, 0, 0, 0.5);
}

.navbar-toggler {
  border: none !important;
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrap video {
  height: 106%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.newsIcon {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  position: absolute;
  left: 10%;
  top: 60%;
  transform: translateY(-60%);
  border-left: 4px solid #10A7FF;
}

.newsIcon i {
  color: #fff;
}

.youtubeWrap {
  position: absolute;
  left: 10%;
  top: 75%;
  transform: translateY(-75%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube {
  color: red;
  font-size: 50px;
}

.youT {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin-left: 5px;
}

.newsT {
  color: #fff !important;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}

.newsD {
  color: gray !important;
  font-weight: bold;
  font-size: 16px;
}

.page1 .bgImg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/p2.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.page1 .contents {
  position: absolute;
}
.page1 .fontLogo {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 300px;
  margin-bottom: 80px;
}
.page1 .fontLogo .blue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.page1 .fontLogo .blue img {
  margin-bottom: 80px;
}
.page1 .fontLogo img {
  margin-bottom: auto;
}
.page1 .fontLogo .potion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.page1 .fontLogo .potion img {
  margin-bottom: 80px;
}
.page1 .fontLogo .bluepotion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.page1 .fontLogo .bluepotion img {
  margin-bottom: 80px;
}
.page1 .gamer {
  color: #10A7FF;
  font-size: 43px;
  font-weight: bold;
  text-align: center;
}
.page1 h5 {
  text-align: center;
  line-height: 30px;
}

.page2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/p4-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  -webkit-animation: bAni2 1s alternate infinite;
          animation: bAni2 1s alternate infinite;
}
@-webkit-keyframes bAni2 {
  100% {
    background-size: 113%;
  }
}
@keyframes bAni2 {
  100% {
    background-size: 113%;
  }
}
.page2 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page2 .container .btnWrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
}
.page2 .container .btnWrap h2 {
  z-index: 2;
}
.page2 .container .btnWrap .colorBtn {
  margin-left: -70px;
  transition: 0.3s;
}
.page2 .container .btnWrap .colorBtn:hover {
  margin-left: -20px;
}
.page2 .container .btnWrap .colorBtnM {
  display: none;
}
.page2 .container h4 {
  margin-bottom: 40px !important;
}
.page2 .container .store {
  display: flex;
  gap: 10px;
  width: 25%;
}

.page3 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/p10-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  -webkit-animation: bAni3 1s alternate infinite;
          animation: bAni3 1s alternate infinite;
}
@-webkit-keyframes bAni3 {
  100% {
    background-size: 113%;
  }
}
@keyframes bAni3 {
  100% {
    background-size: 113%;
  }
}
.page3 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page3 .container .btnWrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
}
.page3 .container .btnWrap h2 {
  z-index: 2;
}
.page3 .container .btnWrap .colorBtn {
  margin-left: -70px;
  transition: 0.3s;
}
.page3 .container .btnWrap .colorBtn:hover {
  margin-left: -20px;
}
.page3 .container h4 {
  margin-bottom: 40px !important;
}

.page4 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/p3-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  -webkit-animation: bAni4 1s alternate infinite;
          animation: bAni4 1s alternate infinite;
}
@-webkit-keyframes bAni4 {
  100% {
    background-size: 113%;
  }
}
@keyframes bAni4 {
  100% {
    background-size: 113%;
  }
}
.page4 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page4 .container .btnWrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
}
.page4 .container .btnWrap h2 {
  z-index: 2;
}
.page4 .container .btnWrap .colorBtn {
  margin-left: -70px;
  transition: 0.3s;
}
.page4 .container .btnWrap .colorBtn:hover {
  margin-left: -20px;
}
.page4 .container h4 {
  margin-bottom: 40px !important;
}

.page5 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/p11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  -webkit-animation: bAni5 1s alternate infinite;
          animation: bAni5 1s alternate infinite;
}
@-webkit-keyframes bAni5 {
  100% {
    background-size: 113%;
  }
}
@keyframes bAni5 {
  100% {
    background-size: 113%;
  }
}
.page5 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page5 .container .btnWrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
}
.page5 .container .btnWrap h2 {
  z-index: 2;
}
.page5 .container .btnWrap .colorBtn {
  margin-left: -70px;
  transition: 0.3s;
}
.page5 .container .btnWrap .colorBtn:hover {
  margin-left: -20px;
}
.page5 .container h4 {
  margin-bottom: 40px !important;
}
.page5 .container .store {
  display: flex;
  gap: 10px;
}

.page6 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/p12.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.page6 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page6 .container .btnWrap {
  margin-bottom: 40px;
}
.page6 .container .btnWrap h2 {
  color: #10A7FF !important;
}
.page6 .container h4 {
  color: #fff !important;
}

.page7 {
  position: relative;
}
.page7 .swiper-button-next {
  position: absolute;
  right: 250px;
}
.page7 .swiper-button-prev {
  position: absolute;
  left: 250px;
}
.page7 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page7 .container .news {
  background: #10A7FF;
  display: inline-block;
  padding: 3px 15px;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
  margin-bottom: 20px;
}
.page7 .container .swiper-slide {
  width: 280px;
  padding: 30px 0;
  height: 100%;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}
.page7 .container .swiper-slide img {
  height: 170px;
  width: 100%;
  margin-bottom: 30px;
}

.page8 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/p7-2.png);
  background-repeat: no-repeat;
  background-position: center;
}
.page8 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page8 .container .wich {
  margin-top: -230px;
}
.page8 .container .wich .line {
  width: 50px;
  border: 2px solid #10A7FF;
  margin-bottom: 20px !important;
}
.page8 .container .wich h4 {
  color: #fff !important;
  margin-bottom: 20px !important;
}
.page8 .container .wich h5 {
  color: gray !important;
}

.footer {
  height: 170px !important;
  background: linear-gradient(to right, #3FA8FF, #3E67D3);
}
.footer p {
  color: #121212;
}

@media (max-width: 1399px) {
  .page2 {
    background-size: 192vh !important;
    background-position-x: 60%;
  }
  .page3 {
    background-size: 198vh !important;
  }
  .page4 {
    background-size: 195vh !important;
    background-position-x: 71%;
  }
  .page5 {
    background-size: 190vh !important;
    background-position-x: 60%;
  }
  .page8 {
    background-size: 90%;
  }
}
@media (max-width: 1199px) {
  .footer p {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .mainF {
    font-size: 35px !important;
    color: #fff !important;
    font-weight: bold !important;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateY(-40%);
    line-height: 65px !important;
    margin-bottom: 0 !important;
  }
  .newsIcon {
    width: 100%;
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 40px;
    padding: 0 15px;
    position: absolute;
    left: 60%;
    top: 55%;
    transform: translate(-50%, -55%);
    border-left: 4px solid #10A7FF;
  }
  .page1 .fontLogo {
    flex-direction: column;
    align-items: center;
    transform: scale(0.6);
    margin-top: 200px;
  }
  .page1 .fontLogo img {
    margin-bottom: 15px !important;
  }
  .page1 .fontLogo img:nth-child(2),
.page1 .fontLogo img:nth-child(4) {
    display: none;
  }
  .page1 .fontLogo .blue {
    margin-bottom: 20px;
  }
  .page1 .fontLogo .potion {
    margin-bottom: 20px;
  }
  .page1 .gamer {
    transform: scale(0.6);
    margin-top: -120px;
  }
  .page1 h5 {
    display: none;
  }
  .page7 .swiper-wrapper {
    height: 100%;
    width: 100%;
  }
  .page7 .swiper-wrapper .swiper-slide {
    width: 280px;
    padding: 30px 0;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
  }
  .page7 .swiper-wrapper .swiper-slide img {
    height: 170px;
    width: 100%;
    margin-bottom: 30px;
  }
  .page7 .swiper-wrapper .swiper-slide .newsT {
    color: #fff !important;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer p {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .mainF {
    width: 100%;
    font-size: 25px !important;
    color: #fff !important;
    font-weight: bold !important;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    line-height: 65px !important;
    margin-bottom: 0 !important;
    text-align: center;
  }
  .newsIcon {
    width: 100%;
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 40px;
    padding: 0 15px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
    border-left: 4px solid #10A7FF;
    display: block;
    border-left: none;
  }
  .newsIcon i {
    border-top: 2px solid #10A7FF;
    padding: 10px 0;
  }
  .youtubeWrap {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -67%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnWrap {
    cursor: initial !important;
  }
  .page2 .container .btnWrap {
    flex-direction: column;
    display: block;
  }
  .page2 .container .btnWrap .redA {
    font-size: 30px !important;
    margin-bottom: 40px;
  }
  .page2 .container .btnWrap .colorBtn {
    display: none;
  }
  .page2 .container .btnWrap .colorBtnM {
    display: block;
  }
  .page2 .container h4 {
    font-size: 15px !important;
  }
  .page2 .container .store {
    width: 100%;
  }
  .page2 .container .store img {
    width: 23.5%;
  }
  .page3 .container .btnWrap {
    flex-direction: column;
    display: block;
  }
  .page3 .container .btnWrap .redA {
    font-size: 30px !important;
    margin-bottom: 40px;
  }
  .page3 .container .btnWrap .colorBtn {
    display: none;
  }
  .page3 .container h4 {
    font-size: 15px !important;
  }
  .page3 .container .store {
    width: 100%;
  }
  .page3 .container .store img {
    width: 23.5%;
  }
  .page4 .container .btnWrap {
    flex-direction: column;
    display: block;
  }
  .page4 .container .btnWrap .redA {
    font-size: 30px !important;
    margin-bottom: 40px;
  }
  .page4 .container .btnWrap .colorBtn {
    display: none;
  }
  .page4 .container h4 {
    font-size: 15px !important;
  }
  .page4 .container .store {
    width: 100%;
  }
  .page4 .container .store img {
    width: 23.5%;
  }
  .page5 .container .btnWrap {
    flex-direction: column;
    display: block;
  }
  .page5 .container .btnWrap .redA {
    font-size: 30px !important;
    margin-bottom: 40px;
  }
  .page5 .container .btnWrap .colorBtn {
    display: none;
  }
  .page5 .container h4 {
    font-size: 15px !important;
  }
  .page5 .container .store {
    width: 100%;
  }
  .page5 .container .store img {
    width: 23.5%;
  }
  .page7 .swiper-wrapper {
    height: 100%;
    width: 100%;
  }
  .page7 .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    padding: 30px 0;
    height: 500px;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
  }
  .page7 .swiper-wrapper .swiper-slide img {
    height: 230px;
    width: 100%;
    margin-bottom: 10px;
  }
  .footer p {
    font-size: 11px;
  }
}/*# sourceMappingURL=style.css.map */